
.form-main{
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 600px;
   
    padding: 10px;
 
}
.form-main h3{
    text-align: center;
    font-size: 15px;
}
small{
    padding: 10px;
    text-align: center;
}

.form-main label{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    
}

.form-main input{
    width: 600px;
    height: 25px;
   
 
    border: 0px 0px 5px 0px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}
h1{
    text-align: center;
}

button{
    width: 120px;
    height: 35px;
    border-radius: 15px;
    border: 2px solid ;
    background-color: rgb(25, 77, 233);
    color: white;
    font-weight: bold;
    
}

.first-btn{
  margin: auto;
}
.btns{
    display: flex;
    justify-content:space-between;
}
.page4{
    
    width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.page4 h3{
    /* padding-right: 100px;
   
    line-height: 50px;
    float: left; */
    

}
.page4 p{
   /* display: inline; */
    
}